@import '../utils/mixins';
@import '../utils/variables';

$stacking-breakpoint: lg;

.section {
  display: grid;
  overflow: hidden;
  --accent-color-text: black;

  @include min-breakpoint($stacking-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    min-height: 110vh;
  }

  ::selection {
    background-color: rgba(var(--accent-color-rgb), 0.2);
  }

  &.purple {
    --accent-color: #c6beff;
    --accent-color-rgb: 198, 190, 255;
    --accent-color-title: #9388df;
    --accent-color-tint: #d6d1ff;
  }

  &.green {
    --accent-color: var(--secondary);
    --accent-color-rgb: var(--secondary-rgb);
    --accent-color-title: #73bb20;
    --accent-color-tint: var(--secondary-light);
  }

  &.blue {
    --accent-color: #9cd3f3;
    --accent-color-rgb: 156, 211, 243;
    --accent-color-title: #53aee2;
    --accent-color-tint: #beefff;
  }
}

.imageSection,
.textSection {
  display: flex;
  align-items: center;
}

.backgroundColour {
  background: var(--accent-color);
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  top: 0;

  @include min-breakpoint($stacking-breakpoint) {
    width: 80%;
    height: 100%;
  }
}

.imageSection {
  justify-content: center;
  position: relative;

  @include max-breakpoint($stacking-breakpoint) {
    padding: 4em var(--wrapper-padding) 0;
  }

  @include min-breakpoint($stacking-breakpoint) {
    justify-content: flex-end;
  }

  img {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    position: relative;
    height: auto;
  }
}

.textSection {
  overflow: hidden;
}

.textSectionWrapper {
  padding-top: 3em;
  padding-bottom: 4em;
  height: unset;
  align-items: center;
  grid-template-rows: repeat(3, auto);

  @include min-breakpoint($stacking-breakpoint) {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 30em;

    .textSectionDescription {
      max-width: 25em;
    }
  }

  h3 {
    margin-bottom: 0.2em;
  }

  h4 {
    margin-bottom: 0.1em;
  }
}

.buttonMain,
.buttonLight {
  --button-color: var(--accent-color-text);
}

.buttonMain {
  --button-background: var(--accent-color);
  --button-background-tint: var(--accent-color-tint);
}

.buttonLight {
  --button-background-rgb: var(--accent-color-rgb);
  --button-color-light: var(--accent-color);
  --button-color-dark: var(--accent-color-title);
}

.buttonPlain {
  --button-background-hover: var(--accent-color-rgb);
  --button-color: var(--accent-color);
}
