@import '../utils/variables';

.textSectionWrapper {
  display: grid;
  gap: 1em;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 0.5em;

  a + a {
    margin-left: 1em;
  }
}

.subHeading {
  color: var(--accent-color-title);
}

.upcoming {
  color: var(--primary);
  text-transform: uppercase;
  font-family: $sub-font-family;
  display: flex;
  align-items: center;
  align-self: end;
  font-size: 0.8em;

  i {
    font-size: 20px;
    margin-right: 0.25em;
  }
}
