@import '../utils/variables';
@import '../utils/mixins';

.textSectionWrapper {
  display: grid;
  gap: 1em;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0.5em -0.5em -0.5em;
  flex-wrap: wrap;

  a {
    margin: 0.5em;

    @include max-breakpoint(400px) {
      flex: 1;
    }
  }
}

.subHeading {
  color: var(--accent-color-title);
}

.upcoming {
  color: var(--primary);
  text-transform: uppercase;
  font-family: $sub-font-family;
  display: flex;
  align-items: center;
  align-self: end;
  font-size: 0.8em;

  i {
    font-size: 20px;
    margin-right: 0.25em;
  }
}
