<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lauren Wilkinson | Web Developer & UI Designer</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#ff74a4">
  <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ff74a4">
  <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script src="https://kit.fontawesome.com/ddad75a954.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">
    <header class="header">
        <div class="container">
            <nav>
                <ul class="header__nav list--inline">
                    <li 
                      v-cloak
                      class="header__nav-item" 
                      v-for="link in navLinks" 
                      :key="link.url">
                        <a class="header__nav-link" :href="link.url">{{ link.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
      <section id="top" class="section section--large">
        <div class="container">
          <h1 class="main-heading">Lauren Wilkinson</h1>
          <h2 class="sub-heading">
              <span class="block">Front-End Web Developer &</span>
              <span class="block">UI Designer</span>
          </h2>
          <a 
              class="btn btn--primary btn--large"
              href="#projects">
              View Projects
          </a>
        </div>
      </section>
      <section id="about" class="section">
        <div class="container">
          <div class="card">
              <h2 class="main-heading">Hi, I'm Lauren.</h2>
              <p>
                I'm a <interactive>Web Development</interactive> graduate with First Class Honours currently based in 
                Hertfordshire. Designing and implementing beautiful yet <interactive>usability-focused UI</interactive> is what I 
                enjoy most, with the ultimate goal of creating a fulfilling user experience.
              </p>
              <p>
                When I'm not working, I'm likely either playing <interactive>video games</interactive> or 
                <interactive>drawing</interactive>. My non-work related 
                lifetime goals are to learn multiple foreign languages, 
                and to adopt all the kittens!
              </p>
              <h3 class="sub-heading">Technologies</h3>
              <ul class="icon-list list--inline list--tech">
                <li v-for="tech in technologies" :key="tech.name">
                  <span :data-tooltip="tech.name">
                    <i :class="tech.icon"></i>
                  </span>
                </li>
              </ul>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div id="projects" class="header header--sticky">
            <h2 class="main-heading">Projects</h2>
            <ul class="btn-list btn-list--inline">
              <li>
                <button 
                  :class="{ 'btn btn--secondary btn--outline': true, active: showUiDesign }" 
                  @click="showUiDesign ? deactivateType('UI Design') : activateType('UI Design')">
                  UI Design
                </button>
              </li>
              <li>
                <button 
                  :class="{ 'btn btn--secondary btn--outline': true, active: showDevelopment }" 
                  @click="showDevelopment ? deactivateType('Development') : activateType('Development')">
                  Development
                </button>
              </li>
            </ul>
          </div>
          <div v-for="card in projects" :key="card.name" class="card card--project">
            <a class="img-container" :href="getMainCardLink(card)" target="_blank" rel="noreferrer">
              <img class="img" :src="card.img" :alt="card.name" />
            </a>
            <div class="card-body">
              <h2 class="secondary-heading">{{ card.name }}</h2>
              <h3 class="sub-heading"> {{ card.tech.join(', ') }}</h3>
              <p>{{ card.description }}</p>
              <p class="note" v-if="card.note">{{ card.note }}</p>
              <ul v-if="card.links" class="btn-list btn-list--inline">
                <li v-for="link in card.links" :key="link.name">
                  <a 
                    v-if="link.url" 
                    class="btn btn--secondary btn--outline"
                    :href="link.url"
                    target="_blank" 
                    rel="noreferrer">
                    {{ link.name }}
                  </a>
                  <button 
                    v-else 
                    class="btn btn--secondary btn--outline disabled"
                    disabled="disabled"
                    data-tooltip="Gallery coming soon!">
                    {{ link.name }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="section">
        <div class="container">
          <div class="card flex-row">
            <div class="flex-col">
              <h2 class="main-heading">Want to get in touch?</h2>
              <p>I am available for a full-time position either working remotely or in South East England, East Anglia or the Midlands. Feel free to contact me via <a href="mailto:laurenaeron@gmail.com">email</a> or the form!</p>
              <ul class="btn-list btn-list--inline">
                <li v-for="link in contactLinks" :key="link.url">
                  <a 
                    class="btn btn--primary btn--outline" 
                    :href="link.url" 
                    target="_blank" 
                    rel="noreferrer">
                    {{ link.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="flex-col">
              <form name="contact" method="POST" data-netlify="true" class="form">
                <div class="form-row">
                  <label class="form-label form-label--inline">
                    Name
                    <input class="form-control" type="text" name="name" />
                  </label>
                  <label class="form-label form-label--inline">
                    Email
                    <input class="form-control" type="email" name="email" />
                  </label>
                </div>
                <div class="form-row">
                  <label class="form-label">
                    Subject
                    <select class="form-control" name="subject">
                      <option value="Job Opportunity">Job Opportunity</option>
                      <option value="Client Proposal">Client Proposal</option>
                      <option value="Other Enquiry">Other Enquiry</option>
                    </select>
                  </label>
                </div>
                <div class="form-row">
                  <label class="form-label">
                    Message
                    <textarea class="form-control" name="message" rows="3"></textarea>
                  </label>
                </div>
                <div class="form-row">
                  <button type="submit" class="btn btn--primary btn--block">Send</button>
                </div>
              </form>
            </div>    
          </div>
        </div>
      </section>
      <img src="../assets/images/blob.svg" class="blob" />
    </div>
    <footer class="footer">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <hidden-email></hidden-email>
                <ul class="icon-list list--inline">
                    <li
                        v-for="link of contactLinks" 
                        :key="link.name">
                        <a :href="link.url" target="_blank" rel="noreferrer">
                            <i :class="link.icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="scripts/app.js"></script>
</body>
</html>