@import '../utils/variables';
@import '../utils/mixins';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0 4em;

  @include min-breakpoint(sm) {
    padding: 4em 0;
    min-height: 75vh;
  }
}

.card {
  padding: 1.5em;
  background-color: var(--card-background-color);
  border-radius: $border-radius;

  @include min-breakpoint(sm) {
    padding: 3em;
  }
}
