@import '../utils/variables';
@import '../utils/mixins';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0 4em;

  @include min-breakpoint(sm) {
    padding: 4em 0;
    min-height: 75vh;
  }

  h2 {
    margin-bottom: 0.4em;
  }
}

.card {
  padding: 3em 1em;

  .tagList {
    margin-top: 0.5rem;
  }

  @include min-breakpoint(sm) {
    padding: 3em 3.5em 3.5em;
    background-color: var(--card-background-color);
    border-radius: 3em;
  }
}

.tech {
  display: flex;
  flex-direction: column;
  gap: 0.35em;

  > span::after {
    content: '...';
  }
}
