@import '../utils/mixins';

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 10em;
  overflow: hidden;
  position: relative;

  @include max-breakpoint(md) {
    --wrapper-padding: 2.5em;
  }

  h1 {
    margin-bottom: 0.15em;
  }

  a {
    margin-top: 1.75em;
  }
}

.tagline {
  max-width: 19em;
  font-size: 1.35em;
  line-height: 1.3;

  img {
    display: inline-flex;
    vertical-align: text-bottom;
  }
}

.container {
  display: grid;
  gap: 3em;
  align-items: center;
  grid-auto-flow: column;
}

.textContainer {
  @include min-breakpoint(md) {
    padding-left: 2em;
  }

  @include min-breakpoint(lg) {
    min-width: 500px;
  }
}

.imageContainer {
  justify-self: end;

  svg {
    width: 100%;
    height: auto;
    display: block;

    --window-border: var(--primary-light);
    --window-buttons: var(--primary-dark);
    --window-content: var(--primary);
    --window-shadow: var(--primary-lightest);
    --window-background: var(--background-color);
  }
  @include max-breakpoint(xxl) {
    svg {
      max-width: 500px;
    }
  }

  @include max-breakpoint(lg) {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    left: 40%;
    pointer-events: none;

    svg {
      width: auto;
      margin-top: 7%;
      max-width: unset;
    }
  }

  @include max-breakpoint(sm) {
    display: none;
  }
}

:global(.dark-theme) .imageContainer svg {
  --window-shadow: var(--primary-darkest);
  --window-background: var(--card-background-color);
}
