@import '../utils/variables';
@import '../utils/mixins';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 0;

  @include min-breakpoint(sm) {
    min-height: 75vh;
  }
}

.projectCards {
  $min-card-width: 350px;

  display: grid;
  gap: 1.5rem;
  margin-top: 3em;

  @include min-breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax($min-card-width, 1fr));
  }

  @include min-breakpoint(xxl) {
    gap: 3rem;
  }
}

.projectCard {
  background-color: var(--card-background-color);
  padding: 1.5em;
  border-radius: $border-radius;

  @include min-breakpoint(sm) {
    padding: 2.5em;
  }
}
