.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  h1 {
    margin-bottom: 0.2em;
  }

  p {
    opacity: 0.8;
  }

  a {
    margin-top: 1.25em;
  }
}
