@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import './utils/variables';
@import './utils/mixins';
@import './utils/reset';

:root {
  --primary: #ef9a9a;
  --primary-rgb: 239, 154, 154;
  --primary-light: #ffcccb;
  --primary-lighter: #ffdbde;
  --primary-lightest: #fff0f1;
  --primary-dark: #ba6b6c;
  --primary-darker: #995758;
  --primary-darker-rgb: 153, 87, 88;
  --primary-darkest: #5e3435;
  --primary-darkest-rgb: 94, 52, 53;

  --primary-accent: #ff74a4;
  --primary-accent-rgb: 255, 116, 164;

  --secondary: #c5e1a5;
  --secondary-rgb: 197, 225, 165;
  --secondary-light: #d4e9be;
  --secondary-dark: #94af76;

  --white: #ffffff;
  --white-dark: #d9d9d9;
  --white-dark-rgb: 217, 217, 217;

  --black: #242425;
  --black-light: #39393b;
  --black-light-rgb: 57, 57, 59;
  --black-dark: #111111;

  --background-color: light-dark(var(--white), var(--black-dark));
  --nav-link-color: var(--primary);
  --heading-font-color: light-dark(var(--black), var(--white));
  --font-color: light-dark(var(--black-light), var(--white-dark));
  --primary-font-color: #462e2e;
  --card-background-color: light-dark(#f7f7f7, #202020);
  --scrollbar-color: light-dark(#d5d5d5, #555);

  --wrapper-padding: #{$wrapper-padding};

  font-size: $base-font-size;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @include rounded-scrollbar(var(--scrollbar-color));

  background-color: var(--background-color);
  font-family: $main-font-family;
  color: var(--font-color);
  font-size: 0.85rem;
  line-height: 1.5;

  @include min-breakpoint(sm) {
    font-size: 1rem;
  }

  &.light-theme {
    color-scheme: light;
  }

  &.dark-theme {
    color-scheme: dark;
  }

  ::selection {
    background-color: rgba(var(--primary-rgb), 0.2);
  }
}

.material-icons-round {
  user-select: none;
}

p + p {
  margin-top: 1.25em;
}

img {
  display: block;
  max-width: 100%;
}
