@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import './utils/variables';
@import './utils/mixins';
@import './utils/reset';

:root {
  --primary: #ef9a9a;
  --primary-rgb: 239, 154, 154;
  --primary-light: #ffcccb;
  --primary-lighter: #ffdbde;
  --primary-dark: #ba6b6c;
  --primary-darker: #995758;

  --primary-accent: #ff74a4;
  --primary-accent-rgb: 255, 116, 164;

  --secondary: #c5e1a5;
  --secondary-rgb: 197, 225, 165;
  --secondary-light: #f8ffd7;
  --secondary-dark: #94af76;

  --tertiary: #80deea;
  --tertiary-light: #b4ffff;
  --tertiary-dark: #4bacb8;

  --white: #ffffff;
  --white-dark: #d9d9d9;
  --white-dark-rgb: 217, 217, 217;

  --black: #242425;
  --black-light: #39393b;
  --black-light-rgb: 57, 57, 59;
  --black-dark: #111111;

  --background-color: var(--white);
  --nav-link-color: var(--primary);
  --heading-font-color: var(--black);
  --font-color: var(--black-light);
  --font-color-rgb: var(--black-light-rgb);
  --primary-font-color: var(--black-light);
  --card-background-color: #f3f3f3;

  --wrapper-padding: #{$wrapper-padding};

  font-size: $base-font-size;
}

html {
  scroll-behavior: smooth;
}

body {
  @include rounded-scrollbar(var(--primary));

  background-color: var(--background-color);
  font-family: $main-font-family;
  color: var(--font-color);
  font-size: 0.85rem;
  line-height: 1.5;

  @include min-breakpoint(sm) {
    font-size: 1rem;
  }

  &.dark-theme {
    --background-color: var(--black-dark);
    --heading-font-color: var(--white);
    --font-color: var(--white-dark);
    --font-color-rgb: var(--white-dark-rgb);
    --card-background-color: #202020;
  }

  ::selection {
    background-color: rgba(var(--primary-rgb), 0.2);
  }
}

.material-icons-round {
  user-select: none;
}

p + p {
  margin-top: 1.25em;
}

img {
  display: block;
  max-width: 100%;
}
