.card {
  background-color: $grey-700;
  color: white;
  width: 100%;
  border-radius: 20px;
  padding: 6rem 9rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--project {
    padding: 0 !important;
    flex-direction: row;
    height: 330px;

    .card-body {
      flex: 1;
    }

    .img-container {
      overflow: hidden;
      border-bottom: 0;
      
      @include breakpoint-up('md') {
        max-width: 450px;
        width: 50%;
        display: flex;
        justify-content: center;
      }

      .img {
        width: 100%;
        height: auto;

        @include breakpoint-up('md') {
          width: auto; 
          flex: 1;
          height: 330px;
        }
          
      }
    }

    @include breakpoint-down('md') {
      flex-direction: column;
      height: initial;

      &,
      &:hover {
        .img-container,
        .card-body {
          width: 100%;
        }
      }
    }

    + .card--project {
      margin-top: 5rem;
    }
  }

  &.flex-row {
    flex-direction: row;

    @include breakpoint-down('md') {
      flex-direction: column;

      .flex-col {
        margin-left: 0;

        + .flex-col {
          margin-top: 2rem;
        }
      }
    }
  }

  &-body {
    padding: 3rem;
  }

  @include breakpoint-down('md') {
    padding: 3rem;
  }
}