.footer {
  padding: 3rem 0;
  @include gradient;
  color: $body-color;
  font-weight: 500;

  .d-flex {
    @include breakpoint-down('md') {
      flex-direction: column;
    }
  }

  a {
    color: $body-color;
    transition: color 0.25s ease-out;
    border-bottom: 0;

    &:hover,
    &:focus {
      color: $primary-dark;
    }
  }
}