.form {
  $form-spacing: 1.5rem;
  width: 100%;

  .form-row {
    display: flex;
    align-items: center;

    + .form-row {
      margin-top: $form-spacing;
    }

    @include breakpoint-down('md') {
      flex-direction: column;
    }
  }

  .form-label {
    width: 100%;
    font-size: $label-font-size;
    font-weight: 500;
    color: $primary-light;

    + .form-label {
      margin-left: $form-spacing;
      @include breakpoint-down('md') {
        margin-top: $form-spacing;
        margin-left: 0;
      }
    }
  }

  .form-control {
    margin-top: 0.5rem;
    width: 100%;
    resize: none;
    background-color: $grey-600;
    border: 0;
    box-shadow: none;
    padding: 1rem;
    border-radius: $border-radius;
    color: white;
    font-size: $label-font-size;

    option:disabled {
      color: $grey-100;
    }
  }
}