.list {
    &--inline {
        display: flex;
        list-style: none;
    }
    
    &--tech {
      li:not(:last-child) {
        margin-right: 3rem;
      }
    }
}

.icon-list {
  font-size: 4rem;
  flex-wrap: wrap;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 2rem;
  }
}