.section {
    display: flex;

    &--large {
      min-height: 50vh;
      
      @include breakpoint-up('lg') {
        min-height: 90vh;
        }
    }

    .container {
      padding-top: 10%;
    }

    &#top {
        align-items: flex-start;

        .container {
            margin-top: 10%;
            padding-top: 0;
        }

        .main-heading {
            font-size: 5rem;
        }

        .sub-heading {
            font-size: 2.2rem;

            @include breakpoint-down('sm') {
              font-size: 1.9rem;
            }
        }
    }

    &:last-of-type {
      margin-bottom: 10%;
    }

    .header {
      display: flex;
      align-items: center;
      background-color: $body-color;

      .main-heading {
        flex: 1;
      }

      .btn-list {
        margin: 0;
      }

      &--sticky {
        position: sticky;
        top: 0;
        z-index: 2;
      }

      @include breakpoint-down('md') {
        flex-direction: column;
        align-items: start;

        .main-heading {
          margin-bottom: 2rem;
        }
      }
    }
}