@import '../utils/variables';
@import '../utils/mixins';

@mixin heading {
  color: var(--heading-font-color);
  line-height: 1.15;
  margin-bottom: 0.35em;
}

.headingXl {
  @include heading;
  font-size: 3em;
  font-weight: 700;

  @include min-breakpoint(sm) {
    font-size: 3.25em;
  }
}

.headingLg {
  @include heading;
  font-size: 2.5em;
  font-weight: 700;

  @include min-breakpoint(sm) {
    font-size: 2.75em;
  }
}

.headingMd {
  @include heading;
  font-size: 2.25em;
  font-weight: 700;

  @include min-breakpoint(sm) {
    font-size: 2.5em;
  }
}

.headingSm {
  @include heading;
  font-size: 1.75em;

  @include min-breakpoint(sm) {
    font-size: 2em;
  }
}

.subHeading {
  font-size: 1em;
  font-family: $sub-font-family;
  color: var(--primary);
  text-transform: uppercase;

  &::before {
    content: '>';
    margin-right: 0.5em;
  }

  &::after {
    content: '_';
    animation: blink 0.75s linear infinite;

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      51% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

.primaryText {
  color: var(--primary);
}
