:root {
    font-size: 10px;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $body-font;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $body-font-size;
    line-height: 1.5;
    background-color: $body-color;
}

.content {
  position: relative;
  overflow: hidden;
}

.blob {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 50%;
  min-width: 300px;

  @include breakpoint-down('md') {
    transform: rotate(100deg);
    top: 120px;
    right: 20px;
  }

  @include breakpoint-down('sm') {
    transform: rotate(100deg) scale(0.7);
    right: -40px;
    top: 170px;
  }
}

#top {
  .main-heading,
  .sub-heading {
    text-shadow: 3px 3px 3px $body-color;
  }
}

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.4rem dotted $secondary;
}