.container {
    width: 100%;
    padding: 0 20%;

    @include breakpoint-down('lg') {
      padding: 0 10%;
    }

    @include breakpoint-down('md') {
      padding: 0 5%;
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  + .flex-col {
    margin-left: 2rem;
  }
}