.container {
    width: 100%;
    padding: 0 20%;

    @include breakpoint-down('xl') {
      padding: 0 10%;
    }

    @include breakpoint-down('lg') {
      padding: 0 5%;
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex: 1;
  + .flex-col {
    margin-left: 3rem;
  }
}

#contact {
  a:not(.btn) {
    color: $secondary;
    font-weight: 500;
  }

  .btn-list {
    @include breakpoint-down('lg') {
      width: 100%;

      li {
        flex: 1;
      }
    }

    @include breakpoint-down ('md') {
      flex-direction: column;
      
      li {
        margin-right: 0;
      }
    }
    
    li {
      margin-top: 1.5rem;
    }
  }

  .flex-row {
    .flex-col:last-of-type {
      flex: 1.5;
    }
    @include breakpoint-down('lg') {
      flex-direction: column;

      .flex-col + .flex-col {
        margin-left: 0;
        margin-top: 3rem;
      }
    }
  }
}